# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\酒店管理系统\图书管理系统\酒店管理系统\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
